<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Red-Black_Tree</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>

<h1>RED BLACK TREE</h1>

<form>
    <div class="input">
        <input type="number" name="value" class="input_place" id="number" placeholder="insert number">
        <div class="input-append">
            <input type="button" id="btn" value="Insert" />
        </div>
    </div>
</form>

<canvas height='800' width='1280' id='paintField'>Обновите браузер</canvas>

<script type="text/javascript" src="treeBuilder.js" async=""></script>

</body>
</html>